# base dir will be the directory for database, or parent directory of project folder if using excel. If using other folder, change accordingly in the code
BASE_DIR=C:\Users\User\Documents\dev
EXCEL_FILENAME=Data.xlsx
# either excel or database
# if using excel, place it in source/ folder in the project directory. root/source/excel.xlsx
DATA_SOURCE=excel